/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #E8E6E1;
  color: #111827;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #000000;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* HEADER NAVIGATION */

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 17vh;
  padding: 0 1rem;
}

nav .logo {
  font-size: 2rem;
  font-weight: bold;
  color: #3B82F6;
  cursor: default;
}

nav .nav-links {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 2rem;
  list-style: none;
}

nav .nav-links a {
  font-size: 2rem;
  font-weight: 500;
  color: #3B82F6;
  text-decoration: none;
}

nav .nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: transparent;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  font-weight: bold;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

/* SECTIONS */


section {
  padding-top: 0px;
  height: 60vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  padding-bottom: 0px;
}


/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: #555;
}

.title {
  font-size: 3rem;
  text-align: center;
}


  .hero{
    display: flex;
    align-items: left; 
    justify-content: space-between;
     padding: 0px;
      min-height: 80vh;
      position: relative;
      height: 20px;
       
  
  }
  .hero-content{
    flex:1;
    max-width: 50%;
    padding-right: 40px;

  }

.hero-image  {
  width:200px;
  height: 200px;
  flex-shrink: 0;
  margin-left: auto;
  float: left;
  padding-right: 10px;
 
   
}
.hero-image img{
  width: 100%;
  height: 100%;
border-radius: 50%;
 object-fit: cover;
 border: 1px;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 9rem;
  border-radius: 5rem;
}

.btn-color-1,
.btn-color-2 {
  border: #3B82F6 0.1rem solid;
  color: #3B82F6;
  background-color: transparent;
}
.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: blue;
  color: #ffffff;
}

.btn-color-1:hover {
  background: #2563EB;
}

.btn-color-1 {
  background: blue;
}

.btn-color-1:hover {
  border: #2563EB 0.1rem solid;
}
.btn-container {
  gap: 5rem;
}

.social-links a{
  font-size: 20px;
  margin-right: 10px;

  transition: color 0.1s ease;

}
.social-links a:hover {
    color: #0077b5; 
}
/*about*/
.about{
  padding: 0rem;
}
.top-header{
  text-align: center;
}
.about-container{
  display: flex;
  justify-content: center;
width:800px;
height:200px;
  flex-direction: column;
  padding: 0.5rem;
  justify-items: center;
  background-color:lightblue;
  border-radius: 1rem;
  border: 1px solid black;
  text-align: center;
  gap:2rem;
}

/* SKILL SECTION */
.skills{
  padding: 0px;

}
.top-header{
  text-align: center;
}
/* ----- ABOUT / SKILLS BOX ----- */
.skills-container{
  display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
}

.skills-box{
  /* style.css */

 
 position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    }
.skill-box {
    width: 250px; /* Set the width of the box */
    height: 200px; /* Set the height of the box */
    background-color: lightblue; /* Set the background color */
    border: 2px solid black; /* Add a border */
    padding: 10px; /* Add space inside the box (between content and border) */
    margin: 10px; /* Add space outside the box (between the box and other elements) */
    text-align: center; /* Align text within the box */
}
.skill-box>i{
    font-size: 50px;
    color: var(--black-color);
    margin-bottom: 25px;
}
.skill-box label{
    font-size: 12px;
    color: var(--black-color);
}


.skills-box::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background: var(--black-color);
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}
.skills-box:hover.skills-box::after{
  bottom: 0;
}


.skills-box:hover.skills-box i,
.skills-box:hover.skill-box>h3,
.skills-box:hover.skills-box>label{
    color: var(--color-black);
    z-index: 2;
}
.Skills{
  text-align: center;
}
/* PROJECTS SECTION */

/* ----- PROJECTS BOX ----- */
.projects{
  padding-top: 0px;
padding-bottom: 0px;
}
.top-header{
  text-align: center;
}
.Projects{
  text-align: center;
}
.project-container{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.project-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 300px;
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
/* style.css */
.project-box {
    width: 300px; /* Set the width of the box */
    height: 400px; /* Set the height of the box */
    background-color: lightblue; /* Set the background color */
    border: 2px solid black; /* Add a border */
    padding: 20px; /* Add space inside the box (between content and border) */
    margin: 10px; /* Add space outside the box (between the box and other elements) */
    text-align: center; /* Align text within the box */
}
.project-box>i{
    font-size: 50px;
    color: var(--black-color);
    margin-bottom: 25px;

} 
.project-box label{
    font-size: 12px;
    color: var(--black-color);
}
.project-box::after, .contact-info::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background: var(--black-color);
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}
.project-box:hover.project-box::after,
.contact-info:hover.contact-info::after{
    bottom: 0;
}
.project-box:hover.project-box i,
.project-box:hover.project-box>h3,
.project-box:hover.project-box>label{
    color: var(--color-black);
    z-index: 2;
}
.Project{
  text-align: center;

}


project-img{
  height: 100px;
  width: 100px;

}

.btn btn-color-3{
width: 20px;
height: 20px;
}
/* CONTACT */

.contact {
  display: flex;
  justify-content:left;
  flex-direction: column;
  height: 70vh;
  text-align: center ;
  padding: auto;
input[type="text"],
input[type="email"]
{
  width:200px;
  height:40px;
  text-align: center;
 
}
textarea{
width: 200px;
height:100px ;
 text-align: center;

}
}


.contact-container{
 display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}


.contact-info{
width:300px;
height:250px;
  flex-direction: column;
  padding: 1rem;
  justify-items: center;
  margin-top: 30px;
  background-color:lightblue;
  border-radius: 1rem;
  border: 1px solid black;
  text-align: left;
  gap:2rem;
}




  


.contact-icon,
.email-icon {
  cursor: default;
}

/*submit button*/
.btn-submit{
  width: 80px;
  height: 40px;
  color: white;
  background-color: blue;
  gap:0.5rem;
}

/* FOOTER */

footer {
  text-align: center;
  margin-top: 20px;
}

footer .nav-links {
  display: inline-block;
}

footer .nav-links a {
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: #3B82F6;
  font-weight: 500;
  font-size: 1.5rem;
}

footer .nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;

  
}
